<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header class="bg-dark">
    <nav class="navbar navbar-light bg-light sticky-sm-top">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        <a href="products" class="btn btn-secondary">Добавить объявление</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
        <a class="navbar-brand" href="/">Наше приложение</a>
    </nav>
</header>
<!-- Begin page content -->
<main class="container">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="bg-dark sticky-bottom">
    <div class="row">
        <a href="/additem" class="col">Разместить объявление</a>
        <a href="/rossiya" class="col">Объявления</a>
        <a href="https://support.avito.ru" target="_blank" rel="noopener noreferrer" class="col">Помощь</a>
        <a href="/safety" class="col">Безопасность</a>
        <a  href="/advertising" rel="nofollow" class="col">Реклама на сайте</a></li>
        <a  href="/company" class="col">О компании</a>
        <a href="/company/job" class="col">Карьера</a>
        <a  href="/journal/articles" class="col">Авито Журнал</a>
        <a href="/blog" class="col">Блог</a>
        <a  href="/avito-care?from=footer" class="col">Авито Польза</a>
        <a href="/info/apps" class="col"><strong>Мобильное приложение</strong></a>
    </div>
</footer>
</body>
</html>
