{% extends "base.html" %}

{% block content %}

    <h1>Объявление неактуально</h1>
    <a href="/product/{{ product.id }}" class="btn btn-secondary">Вернуться назад</a>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-check" >
            {{ form.reason.label }}<br>
            {{ form.reason(type="reason") }}<br>
            {% for error in form.reason.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </div>
            <p>{{ form.remove(type="submit", class="btn btn-warning") }} <a href="/product/{{ product.id }}" class="btn btn-secondary">Вернуться назад</a></p>
        {{message}}
    </form>

{% endblock %}